name: CI (Test & Coverage)

on: [push, pull_request]

jobs:
  test-and-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain with llvm-tools-preview
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: Checkout private repo
        uses: actions/checkout@v2
        with:
          repository: your-private/repo_name
          token: ${{ secrets.secrets.AP_COMMON_TOKEN }}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Run tests and generate coverage summary (fails if tests fail)
        # This command runs `cargo test` internally.
        # It will print a summary to the console and exit with an error
        # status if any test fails, making the GH Action step fail.
        run: cargo llvm-cov
