name: CI (Test & Coverage)

on: [push, pull_request]

jobs:
  test-and-verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain with llvm-tools-preview
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - name: Checkout private repo
        uses: actions/checkout@v2
        with:
          repository: MarcoKeppel/common
          token: ${{ secrets.AP_COMMON_TOKEN }}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run tests and generate coverage summary (fails if tests fail)
        if: github.ref == 'refs/heads/master'
        # This command runs `cargo test` internally.
        # It will print a summary to the console and exit with an error
        # status if any test fails, making the GH Action step fail.
        run: cargo +nightly llvm-cov --all --doctests --html

      - name: Run tests and generate coverage summary (fails if tests fail)
        if: github.ref != 'refs/heads/master'
        # This command runs `cargo test` internally.
        # It will print a summary to the console and exit with an error
        # status if any test fails, making the GH Action step fail.
        run: cargo +nightly llvm-cov --all --doctests

      # Upload coverage HTML for the deploy job
      - name: Upload coverage HTML artifact
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-html
          path: target/llvm-cov/html

  deploy-coverage:
    needs: test-and-verify
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      # Download the coverage HTML artifact from the test job
      - name: Download coverage HTML artifact
        uses: actions/download-artifact@v4.1.3
        with:
          name: coverage-html
          path: coverage-html

      # Prepare the directory for GitHub Pages
      - name: Setup Pages
        uses: actions/configure-pages@v5

      # Upload the HTML results as the 'github-pages' artifact
      - name: Upload coverage artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: coverage-html

      # Deploy the artifact to GitHub Pages
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
