name: CI (Test & Coverage)

on: [push, pull_request]

jobs:
  test-and-verify:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write # Needed for the deploy-pages action
      id-token: write # Needed for the deploy-pages action
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain with llvm-tools-preview
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview
      - name: Checkout private repo
        uses: actions/checkout@v2
        with:
          repository: MarcoKeppel/common
          token: ${{ secrets.AP_COMMON_TOKEN }}
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Run tests and generate coverage summary (fails if tests fail)
        if: github.ref == 'refs/heads/main' 
        # This command runs `cargo test` internally.
        # It will print a summary to the console and exit with an error
        # status if any test fails, making the GH Action step fail.
        run: cargo llvm-cov --all --doctests --html

      - name: Run tests and generate coverage summary (fails if tests fail)
        if: github.ref != 'refs/heads/main' 
        # This command runs `cargo test` internally.
        # It will print a summary to the console and exit with an error
        # status if any test fails, making the GH Action step fail.
        run: cargo llvm-cov --all --doctests

      # - name: Upload coverage report
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: llvm-cov-report
      #     path: target/llvm-cov/html
      
      # Prepare the directory for GitHub Pages
      - name: Setup Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v5

      # Upload the HTML results as the 'github-pages' artifact
      - name: Upload coverage artifact for GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          # The path should match the directory where the HTML reports are generated
          path: target/llvm-cov/html

      # Deploy the artifact to GitHub Pages
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
